back-end/functions/node_modules
back-end-h/functions/node_modules
back-end-h/node_modules
back-end-h/.env
back-end-h/firebaseEnv.txt
back-end/

front-end/
front-end/node_modules

misc/py/venv
misc/match/node_modules
misc/wifi-scan/venv
misc/filterProducts/node_modules

devices/Halo/node_modules
devices/Hilda/node_modules
devices/Halo/rsa_cert.pem
devices/Halo/rsa_private.pem
devices/Esp-32/venv
devices/Esp-32/utils/rsa_public.pem
devices/Esp-32/utils/rsa_private.pem
devices/Esp-32/README.md
devices/Esp-32-GCloud-Mode/venv
devices/Esp-32-GCloud-Mode/utils/rsa_public.pem
devices/Esp-32-GCloud-Mode/utils/rsa_private.pem
devices/Esp-32-GCloud-Mode/libs/jwt
devices/Heartbeat/H1/node_modules
devices/Heartbeat/H2/node_modules
devices/Heartbeat/H3/node_modules
devices/Heartbeat/H4/node_modules
devices/Heartbeat/H5/node_modules
devices/Heartbeat/H1/rsa_cert.pem
devices/Heartbeat/H1/rsa_private.pem
devices/Heartbeat/H2/rsa_cert.pem
devices/Heartbeat/H2/rsa_private.pem
devices/Heartbeat/H3/rsa_cert.pem
devices/Heartbeat/H3/rsa_private.pem
devices/Heartbeat/H4/rsa_cert.pem
devices/Heartbeat/H4/rsa_private.pem
devices/Heartbeat/H5/rsa_cert.pem
devices/Heartbeat/H5/rsa_private.pem

devices-h/Mobile/mobileTestOne/node_modules
devices-h/Mobile/mobileTestOne/rsa_cert.pem
devices-h/Mobile/mobileTestOne/rsa_private.pem

devices-h/Esp-32/venv
devices-h/Esp-32/utils/rsa_public.pem
devices-h/Esp-32/utils/rsa_private.pem
devices-h/Esp-32/README.md
devices-h/Heartbeat/H1/node_modules
devices-h/Heartbeat/H2/node_modules
devices-h/Heartbeat/H3/node_modules
devices-h/Heartbeat/H4/node_modules
devices-h/Heartbeat/H5/node_modules
devices-h/Heartbeat/H1/rsa_cert.pem
devices-h/Heartbeat/H1/rsa_private.pem
devices-h/Heartbeat/H2/rsa_cert.pem
devices-h/Heartbeat/H2/rsa_private.pem
devices-h/Heartbeat/H3/rsa_cert.pem
devices-h/Heartbeat/H3/rsa_private.pem
devices-h/Heartbeat/H4/rsa_cert.pem
devices-h/Heartbeat/H4/rsa_private.pem
devices-h/Heartbeat/H5/rsa_cert.pem
devices-h/Heartbeat/H5/rsa_private.pem

devices-h/StaticHeartbeat/node_modules
devices-h/StaticHeartbeat/SH1/node_modules
devices-h/StaticHeartbeat/SH2/node_modules
devices-h/StaticHeartbeat/SH3/node_modules
devices-h/StaticHeartbeat/SH4/node_modules
devices-h/StaticHeartbeat/SH5/node_modules
devices-h/StaticHeartbeat/SH6/node_modules
devices-h/StaticHeartbeat/SH7/node_modules
devices-h/StaticHeartbeat/SH8/node_modules
devices-h/StaticHeartbeat/SH9/node_modules
devices-h/StaticHeartbeat/SH10/node_modules
devices-h/StaticHeartbeat/SH11/node_modules
devices-h/StaticHeartbeat/SH12/node_modules
devices-h/StaticHeartbeat/SH13/node_modules
devices-h/StaticHeartbeat/SH14/node_modules

devices-h/StaticHeartbeat/SH1/rsa_cert.pem
devices-h/StaticHeartbeat/SH1/rsa_private.pem
devices-h/StaticHeartbeat/SH2/rsa_cert.pem
devices-h/StaticHeartbeat/SH2/rsa_private.pem
devices-h/StaticHeartbeat/SH3/rsa_cert.pem
devices-h/StaticHeartbeat/SH3/rsa_private.pem
devices-h/StaticHeartbeat/SH4/rsa_cert.pem
devices-h/StaticHeartbeat/SH4/rsa_private.pem
devices-h/StaticHeartbeat/SH5/rsa_cert.pem
devices-h/StaticHeartbeat/SH5/rsa_private.pem
devices-h/StaticHeartbeat/SH6/rsa_cert.pem
devices-h/StaticHeartbeat/SH6/rsa_private.pem
devices-h/StaticHeartbeat/SH7/rsa_cert.pem
devices-h/StaticHeartbeat/SH7/rsa_private.pem
devices-h/StaticHeartbeat/SH8/rsa_cert.pem
devices-h/StaticHeartbeat/SH8/rsa_private.pem
devices-h/StaticHeartbeat/SH9/rsa_cert.pem
devices-h/StaticHeartbeat/SH9/rsa_private.pem
devices-h/StaticHeartbeat/SH10/rsa_cert.pem
devices-h/StaticHeartbeat/SH10/rsa_private.pem
devices-h/StaticHeartbeat/SH11/rsa_cert.pem
devices-h/StaticHeartbeat/SH11/rsa_private.pem
devices-h/StaticHeartbeat/SH12/rsa_cert.pem
devices-h/StaticHeartbeat/SH12/rsa_private.pem
devices-h/StaticHeartbeat/SH13/rsa_cert.pem
devices-h/StaticHeartbeat/SH13/rsa_private.pem
devices-h/StaticHeartbeat/SH14/rsa_cert.pem
devices-h/StaticHeartbeat/SH14/rsa_private.pem


front-end-h/node_modules
front-end-h/functions/node_modules
front-end-h/src/assets


front-end-PMV/node_modules


