back-end/functions/node_modules
front-end/node_modules
devices/Halo/node_modules
devices/Hilda/node_modules
devices/Halo/rsa_cert.pem
devices/Halo/rsa_private.pem
misc/py/venv
devices/Esp-32/venv
devices/Esp-32/utils/rsa_public.pem
devices/Esp-32/utils/rsa_private.pem
devices/Esp-32/README.md
devices/Esp-32-GCloud-Mode/venv
devices/Esp-32-GCloud-Mode/utils/rsa_public.pem
devices/Esp-32-GCloud-Mode/utils/rsa_private.pem
devices/Esp-32-GCloud-Mode/libs/jwt
devices/Heartbeat/H1/node_modules